<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.witku">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Witku"
        tools:targetApi="31">
        <activity
            android:name=".Htemulawak"
            android:exported="false" />
        <activity
            android:name=".Hsalam"
            android:exported="false" />
        <activity
            android:name=".Hpegagan"
            android:exported="false" />
        <activity
            android:name=".Hketumbar"
            android:exported="false" />
        <activity
            android:name=".HkayuSec"
            android:exported="false" />
        <activity
            android:name=".HkayuManis"
            android:exported="false" />
        <activity
            android:name=".HjerukN"
            android:exported="false" />
        <activity
            android:name=".Hingu"
            android:exported="false" />
        <activity
            android:name=".Hgendola"
            android:exported="false" />
        <activity
            android:name=".Hciplukan"
            android:exported="false" />
        <activity
            android:name=".Hblimbing"
            android:exported="false" />
        <activity
            android:name=".Hanting"
            android:exported="false" />
        <activity
            android:name=".Imun.Ikapulaga"
            android:exported="false" />
        <activity
            android:name=".Imun.Isereh"
            android:exported="false" />
        <activity
            android:name=".Imun.Ijahe"
            android:exported="false" />
        <activity
            android:name=".Herbal.Hinfluenza"
            android:exported="false" />
        <activity
            android:name=".Herbal.HmasukAngin"
            android:exported="false" />
        <activity
            android:name=".Herbal.Hsariawan"
            android:exported="false" />
        <activity
            android:name=".Herbal.Hmimisan"
            android:exported="false" />
        <activity
            android:name=".Herbal.Hdiare"
            android:exported="false" />
        <activity
            android:name=".Herbal.Hbatuk"
            android:exported="false" />
        <activity
            android:name=".Herbal.Hdemam"
            android:exported="false" />
        <activity
            android:name=".Benefits.Badas"
            android:exported="false" />
        <activity
            android:name=".Benefits.BjambuBiji"
            android:exported="false" />
        <activity
            android:name=".Benefits.Bmengkudu"
            android:exported="false" />
        <activity
            android:name=".Benefits.Balang"
            android:exported="false" />
        <activity
            android:name=".Benefits.Bsirih"
            android:exported="false" />
        <activity
            android:name=".Benefits.Bsambiloto"
            android:exported="false" />
        <activity
            android:name=".Benefits.Bkunyit"
            android:exported="false" />
        <activity
            android:name=".General.Gattention"
            android:exported="false" />
        <activity
            android:name=".General.Gguide"
            android:exported="false" />
        <activity
            android:name=".General.Gtoga"
            android:exported="false" />
        <activity
            android:name=".General.Gtools"
            android:exported="false" />
        <activity
            android:name=".General.Gchoosing"
            android:exported="false" />
        <activity
            android:name=".General.Gjamu"
            android:exported="false" />
        <activity
            android:name=".General.Gdefinition"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".navDrawer.Konsul"
            android:exported="false" />
        <activity
            android:name=".navDrawer.Timbangan"
            android:exported="false" />
        <activity
            android:name=".navDrawer.About"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>